body {
  font-family: "Raleway", sans-serif;
  background-color: white;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin: 30px 20px 20px 20px;
}
.container .header {
  display: flex;
  margin-right: 30px;
  justify-content: space-between;
}
.container .header .sign-up {
  order: 3;
}
.container .header .links {
}
.container .header .nav-container {
  font-size: medium;
  justify-content: right;
  font-weight: bold;
}
.nav-container ul li {
  display: inline;
  float: right;
  list-style-type: none;
  margin: 20px;
  padding: 0;
}
.nav-container ul li a {
  text-decoration: none;
  color: black;
}
.nav-container a:hover {
  color: blue;
  background-color: transparent;
  font-weight: bold;
  border-top-style: solid;
  border-color: blue;
  padding-top: 20px;
}
.nav-container a:visited {
  text-decoration-color: blue;
  font-weight: bolder;
}

#logo {
  width: 100px;
  height: 100%;
}
.container .header .img #logo {
  position: absolute;
  top: 10px;
  left: 30px;
}
.search-container {
  line-height: 8px;
}
.search-container .fas.map:before {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f2f2f2;
  padding: 13px 15px 14px 15px;
  vertical-align: middle;
  text-align: center;
}
.search-container .fas.search {
  visibility: hidden;
}

.search-container input {
  border-color: #f2f2f2;
  border-style: solid;
  border-right-style: none;
  border-left-style: none;
  font-weight: bold;
  padding: 12px;
}
.search-container input[type="button"] {
  background-color: #0065fc;
  font-weight: bold;
  justify-content: space-evenly;
  color: white;
  padding: 14px 20px 14px 20px;
  border-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.filter-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
}

.filter-container .filter-item {
  border: 2px solid #f2f2f2;
  border-left-style: none;
  border-radius: 20px;
  width: auto;
  padding: 10px 15px 10px 0px;
  margin: 5px 10px 5px 5px;
}
.filter-container .filter-item a {
  text-decoration: none;
  font-weight: bold;
}

.filter-container .filter-item:hover {
  background-color: #deebff;
  font-size: large;
}
.filter-container .filter-item .fas {
  color: #0065fc;
  padding: 0px;
}

.filter-container .filter-item .fas:before {
  border-radius: 20px;
  background-color: #deebff;
  padding: 12px;
}

.filter-container .filter-item:nth-child(1) {
  border: none;
}

.accom-container {
  display: flex;
  flex-direction: row;
}
.accom-container .accommodations {
  border: none;
  width: 66.66%;
  height: auto;
  border-radius: 10px;
  background-color: #f2f2f2;
  margin-right: 20px;
  padding: 0 20px 0 20px;
}
.accom-container .accommodations a {
  color: black;
}
.container #accommodation i.fa-circle {
  color: #f2f2f2;
}
.container #accommodation i.fa-info {
  color: #0065fc;
}
.accom-container .accommodations .accom-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.accom-container .accommodations .accom-list .accom-list-item {
  width: 30.33%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  margin-bottom: 20px;
}
.accom-container .accommodations .accom-list .accom-list-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 120px;
  display: block;
}

.accom-container .accommodations .accom-list .accom-list-item a {
  text-decoration: none;
  color: black;
}
.accom-container .accommodations .accom-list .accom-list-item div.title {
  display: block;
  padding: 10px 0 0 10px;
  line-height: 20px;
  font-weight: bolder;
}
.accom-container .accommodations .accom-list .accom-list-item div.price {
  padding: 10px 0 0 10px;
  line-height: 20px;
  font-weight: normal;
  font-size: small;
}
.container .accom-container .accommodations .accom-list .accom-list-item .fas {
  color: #f2f2f2;
  font-size: smaller;
  line-height: 20px;
}
.container
  .accom-container
  .accommodations
  .accom-list
  .accom-list-item
  .fas.checked {
  color: #0065fc;
}
.container
  .accom-container
  .accommodations
  .accom-list
  .accom-list-item
  .rating {
  padding-left: 10px;
}
.container .accom-container .accommodations a {
  text-decoration: none;
}

.accom-container .popular {
  justify-content: space-between;
  border: none;
  width: 350px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 0 20px 0 20px;
}
.accom-container .popular .fas {
  color: black;
}
.accom-container .popular h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.accom-container .popular .popular-list .popular-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: medium;
  background-color: white;
  padding: 5px;
  margin-bottom: 20px;
}
.accom-container .popular .popular-list .popular-list-item img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 130px;
}

.accom-container .popular .popular-list .popular-list-item a.img {
  text-decoration: none;
  flex: 1 1 40%;
}

.accom-container .popular .popular-list .popular-list-item a.lbl div.title {
  display: block;
  padding: 15px 0 0 10px;
  line-height: 30px;
  font-weight: bolder;
}
.accom-container .popular .popular-list .popular-list-item a.lbl div.price {
  padding: 10px 0 0 0px;

  font-weight: normal;
  font-size: small;
}

.accom-container .popular .popular-list .popular-list-item a.lbl {
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  line-height: 18px;
  justify-content: space-between;
  font-weight: bolder;
  flex: 1 1 60%;
}

.accom-container .popular .popular-list .popular-list-item div.price {
  text-decoration: none;

  flex: 1 1 60%;
}
.accom-container .popular .popular-list .popular-list-item .rating {
  padding: 20px 20px 10px 0px;
  object-position: bottom;
}
.accom-container .popular .popular-list .popular-list-item .fas.checked {
  font-size: smaller;
  color: #0065fc;
}
.accom-container .popular .popular-list .popular-list-item .fas {
  color: #f2f2f2;
  font-size: smaller;
}

.activities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bolder;
}

.activities .activities-item {
  display: flex;
  flex: 2 2 100;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  width: 270px;
  height: auto;
}
.activities .activities-item .single {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.activities .activities-item .activities-sub-item {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.activities .activities-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 380px;
  display: block;
}
.activities .activities-item a {
  text-decoration: none;
}
.activities .activities-item div.title {
  padding: 10px 0 10px 10px;
  line-height: 20px;
}

.activities .activities-item .activities-sub-item img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 150px;
}
.activities .activities-item .activities-sub-item a {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 50px 0px;
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  padding-top: 40px;
}

.footer .about {
  list-style-type: none;
  justify-content: left;
}
.footer .about ul {
  list-style-type: none;
  justify-content: left;
  line-height: 30px;
  padding: 0px 0px 0px 20px;
}
.footer .our-accom ul {
  list-style-type: none;
  justify-content: left;
  line-height: 30px;
  padding: 0px 0px 0px 20px;
}
.footer .assistance ul {
  list-style-type: none;
  justify-content: left;
  line-height: 30px;
  padding: 0px 0px 0px 20px;
}
.footer label {
  font-weight: bolder;
  padding: 20px 10px 30px 20px;
}

.footer .about {
  flex: 1 1 33.33%;
}
.footer .our-accom {
  flex: 1 1 33.33%;
}
.footer .assistance {
  flex: 1 1 33.33%;
}
