@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    margin: 0px;
  }
  #logo {
    width: auto;
    padding: 20px 0 0 20px;
  }
  header {
    margin-right: 30px;
  }
  header nav.sign-up {
    order: 2;
    color: blue;
  }
  header nav a:hover {
    color: blue;
    background-color: transparent;
    font-weight: bold;
    border-color: blue;
  }
  nav a:visited {
    text-decoration-color: blue;
    font-weight: bolder;
  }
  section.search-container {
    padding: 0px 20px 20px 20px;
  }
  section.search-container input[type="button"] {
    visibility: visible;
    position: absolute;
  }
  section.search-container .fas.search {
    visibility: hidden;
  }
  section.search-container .fas.search:before {
    border-radius: 10px;
    background-color: #0065fc;
    padding: 13px 15px 14px 15px;
    vertical-align: middle;
    text-align: center;
  }
  section.filter-container {
    padding: 0px 20px 10px 20px;
    margin-top: 0px;
  }
  #accommodation {
    padding-left: 20px;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .accommodations {
    background-color: #ffffff;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin-right: 0px;
  }
  main .accommodations .accom-list {
    justify-content: space-between;
  }
  main .accommodations .accom-list .accom-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 2 2 40%;
    margin: 10px;
  }
  main .accommodations h3 {
    padding: 30px 20px 0px 20px;
    margin: 0px;
  }
  main .accommodations .accom-list {
    padding: 0px;
    margin: 0 10px 0 10px;
  }
  main .accommodations .accom-list .accom-list-item {
    background-color: #ffffff;
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
  }
  main .accommodations a.showmore {
    padding: 0 0 20px 20px;
    margin-bottom: 20px;
  }
  main .popular {
    background-color: #f2f2f2;
    border-radius: 0;
    padding: 0 20px 20px 20px;
  }
  main .popular h3 {
    display: flex;
    flex-direction: row;
    border: none;
    width: auto;
    padding-right: 10px;
  }
  main .popular .popular-list .popular-list-item {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
    height: 200px;
  }
  main .popular .popular-list .popular-list-item a.lbl {
    flex: 1 1 30%;
    padding-left: 30px;
    font-size: medium;
  }
  main .popular .popular-list .popular-list-item img {
    width: 100%;
    height: 200px;
  }
  section.activities {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    padding: 20px 15px 0px 15px;
  }
  h3#activities {
    padding: 20px 20px 0px 20px;
    margin: 0px;
  }
  #activities {
    padding-left: 20px;
  }
  section.activities .activities-item {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 2 2 40%;
  }
  section.activities .activities-item .single .title {
    font-size: small;
  }
  section.activities .activities-item .single img {
    height: 90%;
    object-fit: cover;
  }
  section.activities .activities-item .activities-sub-item {
    margin-bottom: 20px;
    flex: 1 1 100%;
  }
  section.activities .activities-item .activities-sub-item:last-child {
    margin-bottom: 0px;
  }
  section.activities .activities-item .activities-sub-item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 150px;
  }
  footer {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10px;
    padding-bottom: 30px;
    margin-top: 0;
  }
}
